In [15]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [16]:
source = requests.get('https://www.ebay.com/b/Cell-Phones-Smartphones/9355/bn_320094?rt=nc&_pgn=1').text    
soup = BeautifulSoup(source, 'lxml')
items = soup.find('li', class_='s-item')

In [17]:
#Tilte

try:  
    item_title = items.find('h3', class_='s-item__title').text
except Exception as e:
    item_title = 'None'
print(item_title)

Apple iPhone 7 32GB  ‚ö´‚ö™üü†üòäüî¥‚úÖGSM Unlocked ‚úÖAT&T‚úÖT-Mobile‚≠êExcellentüòÄüòÄ

In [18]:
try:
    item_colour = items.find('span', class_= "s-item__dynamic s-item__dynamicAttributes2").text.split(' ')[1] 
except Exception as e:
    item_colour = 'None' 
print(item_colour)

Pink

In [19]:
# Description


try:  
    item_desc = items.find('div', class_='s-item__subtitle').text
except Exception as e:
    item_desc = 'None'
print(item_desc)

None

In [20]:
#Brand


try:
    item_brand = items.find('span', class_='s-item__dynamic s-item__dynamicAttributes1').text.split(' ')[1]
except Exception as e:
    item_brand = 'None'
print(item_brand)

Apple

#Model

try:
    item_model = items.find('span', class_='s-item__dynamic s-item__dynamicAttributes2').text.split(' ')[1:]
    item_model = ' '.join(item_model)
except Exception as e:
    item_model = 'None'
print(item_model)

In [21]:
#Model

try:  
    item_model = items.find('h3', class_='s-item__title').text.split(' ')[:3]
    item_model = ' '.join(item_model)
except Exception as e:
    item_title = 'None'
print(item_model)

Apple iPhone 7

In [22]:
#feature 

try:
    item_features = items.find('span', class_='s-item__dynamic s-item__dynamicAttributes3').text.split(' ')[1]
except Exception as e:
    item_features = 'None'
print(item_features)

Bluetooth

In [23]:
#Item loaction 

try:  
    item_origin = items.find('span', class_='s-item__location s-item__itemLocation').text
    item_origin = re.sub('From ', '', item_origin)
except Exception as e:
    item_origin = 'None'
print(item_origin)

None

In [24]:
#PRICE 

try:
    item_price = items.find('span', class_='s-item__price').text
except Exception as e:
    item_price = 'None'
print(item_price)

INR 12,856.49

In [25]:
#SHIPPING 

try:
    item_shipping = items.find('span', class_='s-item__shipping s-item__logisticsCost').text.split(' ')[:2]
    item_shipping= ' '.join(item_shipping)
except Exception as e:
    item_shipping = 'None'
print(item_shipping)

INR 1,588.62

In [26]:
#Top Seller

try:
    item_top_seller = items.find('span', class_='s-item__etrs-text').text
except Exception as e:
    item_top_seller = 'None'
print(item_top_seller)

Top Rated Seller

In [27]:
#RATING 

try:
    item_stars = items.find('span', class_='clipped').text.split(' ')[0]
except Exception as e:
    item_stars = 'None'
print(item_stars)

4.5

In [28]:
#NUMBER OF REVIEWS 

#aria-hidden="true"
#.text.split(' ')[0]
try:
    item_nreviews = items.find('span', class_='s-item__reviews-count').text.split(' ')[0]
except Exception as e:
    item_nreviews = 'None' 
print(item_nreviews)

87

In [29]:
#Quantity sold 
try:
    item_qty_sold = items.find('span', class_='s-item__hotness s-item__itemHotness').text.split(' ')
    if item_qty_sold[1] == 'sold':
        item_qty_sold = item_qty_sold[0]
    else:
        item_qty_sold = 0
except Exception as e:
    item_qty_sold = 'None'

print(item_qty_sold)

0

In [30]:
#Item link


try:
    item_link = items.find('a', class_='s-item__link')['href']
except Exception as e:
    item_link = 'None'
print(item_link)

https://www.ebay.com/p/225217107?iid=233398869861&var=533301807199

In [31]:
df = pd.DataFrame(columns = ['Title', 'description',
                             'Brand', 'Model', 'Features', 'Origin', 
                             'Price', 'Shipping',
                             'Top Seller','Stars', 'No. Of Reviews',
                             'Qty Sold',  'Link'])

In [32]:
df

Empty DataFrame
Columns: [Title, description, Brand, Model, Features, Origin, Price, Shipping, Top Seller, Stars, No. Of Reviews, Qty Sold, Link]
Index: []

In [33]:
    n=0
    df.loc[n, 'Title'] = item_title
    df.loc[n, 'description'] = item_desc
    df.loc[n, 'Brand'] = item_brand
    df.loc[n, 'Model'] = item_model
    df.loc[n, 'Features'] = item_features
    df.loc[n, 'Origin'] = item_origin
    df.loc[n, 'Price'] = item_price
    df.loc[n, 'Shipping'] = item_shipping
    df.loc[n, 'Top Seller'] = item_top_seller
    df.loc[n, 'Stars'] = item_stars
    df.loc[n, 'No. Of Reviews'] = item_nreviews
    df.loc[n, 'Qty Sold'] = item_qty_sold
    df.loc[n, 'colour'] = item_colour
    df.loc[n, 'Link'] = item_link    
    n+=1

In [35]:
df

,Title,description,Brand,Model,Features,Origin,Price,Shipping,Top Seller,Stars,No. Of Reviews,Qty Sold,Link,colour
0,Apple iPhone 7 32GB ‚ö´‚ö™üü†üòäüî¥‚úÖGSM Unlocked ‚úÖAT&T‚úÖ...,None,Apple,Apple iPhone 7,Bluetooth,None,"INR 12,856.49","INR 1,588.62",Top Rated Seller,4.5,87,0,https://www.ebay.com/p/225217107?iid=233398869...,Pink